root{
    color1: #112D4E;
    color2: #3F72AF;
    color3: #DBE2EF;
    color4: #F9F7F7;
    color5: #212529;
}
body {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: calc(1.725rem + 5.7vw);
    text-transform: uppercase;
}
h2{
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    text-transform: uppercase;
}

h3 {
    margin-top: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
}
hr{
    margin: 0;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
section{
    padding: 5rem 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
/*White sections*/
.white-section{
    background-color: white;
}
.white-section .dates{
    color: #3F72AF;
}
/*Blue sections*/
.blue-section{
    margin-top: 0;
    background-color: #112D4E;
    color: #fff;
}
.blue-section .big-list {
    color: #DBE2EF;
}

.big-list li{
    margin: 0.5rem;
}
.blue-section .dates{
    color: #DBE2EF;
}
.blue-section .subheading{
    color: #DBE2EF;
}

/*Navigation bar*/

nav {
    background-color: #3F72AF;
}

#brand {
    margin-left: 8px;
}
#navbarResponsive {
    margin-left: 8px;
}



/*About section*/

#about {

}
.colored{
    color: #3F72AF;
}
.subheading{
    margin-top:0;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #6c757d;
}

p.lead {
    font-weight: 400;
    font-size: 1.15rem;
    color: #6c757d;
}

.social-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: None;
}
.social-icon:hover{
    background-color: #3F72AF;
    color: #fff;
}

/*Experience section*/


/*Education section*/