<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Constantine Korolenko</title>
<!-- google fonts   -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&family=Saira+Extra+Condensed:wght@500;700&display=swap" rel="stylesheet">

  <!--css stylesheets-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">

<!--fontawesome-->
  <script src="https://kit.fontawesome.com/3a859c612a.js" crossorigin="anonymous"></script>

<!--bootstrap scripts-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</head>
<body>

<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
            <a class="navbar-brand js-scroll-trigger" href="#about">
                <span class="navbar-brand" id="brand">Constantine Korolenko</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger active" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                </ul>
            </div>
        </nav>

<section class="white-section centering" id="about">
    <div class="heading">
        <h1>
            Constantine
            <span class="colored">Korolenko</span>
        </h1>
        <div class="subheading">
            Grodno, <a href="mailto:korolenko.kg@gmail.com">korolenko.kg@gmail.com</a>

        </div>
        <p class="lead">
            Beginner Python-programmer with completed online courses
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/constantine-k/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href=""><i class="fab fa-github"></i></a>
        </div>
    </div>

</section>
<hr>
<section class="blue-section" id="experience">
    <div class="heading">
        <h2>Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Math teacher</h3>
                <div>
                State Educational Institution Gymnasium №7 of Grodno
                </div>

                    <ul class="big-list">
                        <li>Teaching activities:
                            <ul class="small-list">
                        <li>Preparation and teaching lessons;</li>
                        <li>Training students for math olympics and tournaments (Grade 5-9, 2nd and 3rd degree diplomas);</li>
                        <li>Teaching about programming (SCRATCH Programming Language) (Grade 5-6);</li>
                                </ul>
                        </li>
                        <li>Extracurricular activities :
                            <ul class="small-list">
                        <li>Preparation and holding of  annual “Decade of math” (Two school weeks with open classes, math activities and contests);</li>
                        <li>Training students for scientific conference (Tournament of young mathematicians 2021 (Grodno) 3rd degree diploma);</li>
                        <li>Creation and maintain school math blog <a href="https://mathclassg7.blogspot.com/">(created with google blogger)</a></li>
                                </ul>
                        </li>

                </ul>
            </div>
            <div class="flex-shrink-0">
                <span class="dates">
                    January 2015 – August 2021
                </span>

            </div>


        </div>
    </div>
</section>
<hr>
<section class="white-section" id="education">
    <div>
        <h2>Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Yanka Kupala State University of Grodno</h3>
                <div class="subheading">
                Math and Informatics faculty
                </div>
                <p>
                    Specialty: Math (Science and Education)
                </p>


            </div>
            <div class="flex-shrink-0">
                <span class="dates">
                   September 2010 - June 2015
                </span>

            </div>


        </div>
    </div>
    <div>
        <h2>Additional Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0"><a href="https://www.udemy.com/course/100-days-of-code/">«Python 100 days of code»</a></h3>
                <div class="subheading">
                Online course
                </div>
                <ul class="big-list">
                    <li>Syntax of Python</li>
                    <li>Working with API</li>
                    <li>Creation of WEB-applications</li>
                    <li>Working with tables and databases (SQL и DataScience)</li>
                    <li>Usage of Git и GitHub</li>
                </ul>


            </div>
            <div class="flex-shrink-0">
                <span class="dates">
                   September 2021
                </span>

            </div>


        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0"><a href="https://www.udemy.com/course/bestpython/">«Python 3: from novice to specialist»</a></h3>
                <div class="subheading">
                Math and Informatics faculty
                </div>
                <ul class="big-list">
                        <li>Syntax of Python</li>
                        <li>OOP</li>
                        <li>Multithreading</li>

                </ul>


            </div>
            <div class="flex-shrink-0">
                <span class="dates">
                   August 2021
                </span>

            </div>


        </div>
    </div>

</section>
<hr>
<section class="blue-section" id="skills">
    <div>
        <h2>Skills</h2>
        <div class="subheading">
                Programming Languages and Tools
                </div>
        <ul class="big-list">
                    <li><i class="fab fa-python"></i> Python(Flask)</li>
                    <li>SQL</li>
                    <li><i class="fab fa-html5"></i> HTML</li>
                    <li><i class="fab fa-css3-alt"></i> CSS</li>
                </ul>
        <div class="subheading">
                English Language:  B1+
                </div>

    </div>

</section>
<hr>
<section class="white-section centering" id="interests">
    <div>
    <h2>Interests</h2>
        <p>
            My hobbies are reading (especially science fiction) and computer games. <br>
            I finished music school in piano. Also I did swimming. <br>
            I like to solve math and logic puzzles. <br>
            Interested in psychology and pedagogics. <br>
            <br>
        </p>
            <h3>If you would like to work with me, please contact me via <a href="mailto:korolenko.kg@gmail.com">mail</a> or
            <a href="https://www.linkedin.com/in/constantine-k/">linkedin</a> <br>
            Thank you and have a wonderful day!</h3>


    </div>
</section>
</body>
</html>